.post-single {
  border-bottom: 1px solid $gold;
  position: relative;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1em;

  .post-image {
    max-height: 120px;
    overflow-y: hidden;
  }
}

.main-content {
  background: $white;
  padding: 2em;
}

.next-prev {
  margin-top: 2em;
  text-align: center;

  .page-indication {
    display: inline;
  }

  .prev-page {
    float: left;
  }

  .next-page {
    float: right;
  }
}
